<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>JdeRobot Academy</title>
        {% load staticfiles %}
        <!-- Favicon -->
	    <link rel="icon" type="image/png" href='{% static "remoteAcademy/images/logos/favicon_jderobot.png"%}' sizes="16x16">
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'remoteAcademy/css/inicio.css' %}"/>
    </head>
    <body>
        <div class="header">
          <h1>Academy Server</h1>
        </div>
        <div id="init" class="row">
          <div class="col-8">
          	<nav class="menuCSS3">
	            <ul>
		            <li class="bar" id="categories"><a href="#">CATEGORIES</a>
                        <ul>
				            <li id="bikes"><a href="">Artificial Vision</a></li>
				            <li id="cds"><a href="">Drones</a></li>
				            <li id="books"><a href="">Autonomous Cars</a></li>
				            <li id="personality"><a href="#">Mobile Robots</a></li>
			            </ul>
                    </li>
		            <li class="bar" id="faq"><a href="">FAQ</a></li>
	            </ul>
            <nav>
            
          </div>
          <div class="col-4 dropdown">
             <form action="" method="post" accept-charset="utf-8">{% csrf_token %}
                <input id="search" onkeyup="" name="look4" autocomplete="off" placeholder="Search"/><input type="submit" value="Buscar"></input>
             </form>
             <div class="dropdown-content" id="autocom">
             </div>
          </div>
        </div>
        <div class="row">
          <div class="col-3 menu">
            <ul>
              <li id="cll"><a href="{% url 'exercises' %}">EXERCISES</a></li>
              <li id="sevillacity">Suggestions</li>
              <li>Contact</li>
              <li>About Me</li>
            </ul>
          </div>
          <div class="col-9 slider">
              <h1>Set de Ejercicios</h1>
              <img class="slides" src="{% static "remoteAcademy/images/portfolio/portfolio_color_filter.png" %}" alt="My image"/>
              <img class="slides" src="{% static "remoteAcademy/images/portfolio/portfolio_bump_go.png" %}" alt="My image"/>
              <img class="slides" src="{% static "remoteAcademy/images/portfolio/portfolio_autopark.png" %}" alt="My image"/>
              <img class="slides" src="{% static "remoteAcademy/images/portfolio/portfolio_drone_cat_mouse.jpg" %}" alt="My image"/>
              <img class="slides" src="{% static "remoteAcademy/images/portfolio/portfolio_follow_face.png" %}" alt="My image"/>
              <img class="slides" src="{% static "remoteAcademy/images/portfolio/portfolio_vacuum_cleaner_slam.jpg" %}" alt="My image"/>
              <img class="slides" src="{% static "remoteAcademy/images/portfolio/portfolio_color_filter.png" %}" alt="My image"/>
              <img class="slides" src="{% static "remoteAcademy/images/portfolio/portfolio_color_filter.png" %}" alt="My image"/>
              <img class="slides" src="{% static "remoteAcademy/images/portfolio/portfolio_color_filter.png" %}" alt="My image"/>
              <img class="slides" src="{% static "remoteAcademy/images/portfolio/portfolio_color_filter.png" %}" alt="My image"/>

              <button class="display-left" onclick="plusDivs(-1)">&#10094;</button>
              <button class="display-right" onclick="plusDivs(1)">&#10095;</button>
          </div>
          
        </div>
        <script src="{% static "remoteAcademy/js/inicio.js" %}"></script>
        <!--<script src="{% static "store/ajax.js" %}"></script>-->
    </body>
  </html>
